<h2>All users</h2>

<div id="users">
	<div class="user">
		<h3>Foo</h3>
		<p>type: <strong>Admin</strong></p>
	</div>
	<div class="user">
		<h3>Bar</h3>
		<p>type: <strong>Subscriber</strong></p>
	</div>
</div>