<h2>All users</h2>

<% if users.any? %>
	<div id="users">
		<% users.each do |user| %>
			<div class="user">
				<h3><%= user.name %></h3>
				<p>type: <strong><%= user.type %></strong></p>
			</div>
		<% end %>
	</div>
<% else %>
	<p class="placeholder">There are no users yet.</p>
<% end %>
